*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    width: 100%;
}
/*************** NAV ***********************************************************/
nav {
    background-color: #242645;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.25rem;
}

nav img{
    width: 50px;
}

input#menu-hamburguesa{
    visibility: hidden;
    /* opacity: 0; este es otro modo de ocultarlo */
}

input#menu-hamburguesa~ul{
    background-color: #242645;
    width: 100%;
    list-style: none;
    height: 170%;
    position: absolute;
    right: 100%;
    transition: all .3s linear;
}

input#menu-hamburguesa:checked ~ ul{
    right: 0%;
    padding-left: 10px;
}

#nav,
#servicios,
#sobreMi,
#habilidades,
#portafolio,
#contacto{
    padding-top: 190px;
}



nav div ul{
    background-color: #242645;
}
nav ul li a{
    text-decoration: none;
    color: #D1CECA;
    font-size: 1rem;
}

nav ul li a:hover{
    color: #34b0be;
}


/* Quisbert */

nav>div>p{
    font-size: 25px;
    color: #34b0be;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    border-radius: 5px;
}




/************************************* HEADER **********************************/    

header{
    background-color: #e5e5e5;
}

.row{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.profile{
    width: 100%;
}
.perfil{
    width: 200px;
}

/* t1 */
.t1{
    font-size: 2rem;
    padding: 5px 0px;
}

.t2{
    font-size: 1.6rem;
    padding: 5px 0;
}

.pink{
    color: #ff4f6f;
}

.blue{
    color: #060b35;
}

.f-f{
    font-family: 'Work Sans', sans-serif;
}


/*iconos redes sociales*/
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}

.box{
    border-style: solid;
    padding: 5px;
    border-radius: 50%;
    margin: 0 10px;
    color: #34b0be;
}

/*contacto-sobre*/
.contact{
    background-color: #ff4f6f;
    border-bottom-right-radius: 20px 50%;
    border-top-right-radius:20px 50% ;
    margin-top: 20px;    
}
.contact ul li{
    display: inline-block;
    vertical-align: middle;
    padding: 3px 8px;
}


.cv{
    width: 2rem;
}
.sobre{
    background-color: #ff4f6f;
    border-bottom-right-radius: 20px 50%;
    border-top-right-radius: 20px 50% ;
    margin-top: 20px;
}
.sobre>p>a{
    text-decoration: none;
    color: white;    
}
.sobre>p>a:hover{
    color: #34b0be;
}
.contenedor{
    width: 100%;
}

/*!
/***********   MAIN  **************/

main{
    background-color: #e5e5e5;
}

/*subtitulos*/
.sub{
    text-align: center;
    padding: 30px 0px;
    font-size: 40px;
}

/*SERVICIOS*/

.grid{
    display: grid;
    gap: 5%;
    grid-template-columns: 250px;
    grid-template-rows: 250px 250px 250px 250px;
    justify-content: center;

}

.center{
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 0 15px;
}

.icon img{
    width: 48px;
    padding-top: 20px;
}



/*ACERCA.DE.MI*/

.description2{
    padding: 0 10%;

}

.coin2{
    height: 100px;
}


.coins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}
.academy{
    text-align: center;
}


/*MIS HABILIDADES*/

.list{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

.list2{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.percentage{
    padding: 20px;
    background-color: white;
    border-top: 4px solid #34b0be;
    border-radius: 4px;
}

.percentage p{
    font-size: 30px;
}

.text{
    padding-left: 30px;
    padding-top: 30px;
}

.text p{
    font-size: 20px;
}


/**PORTAFOLIO*/

.proyectos{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.proyecto{
    border-radius: 5px;
}

.card{
    border-radius: 25px;
    border: 3px solid black;
    z-index: 999;
}


/*SLIDER*/




li div{
    /* justify-content: center; */
    text-align: center;
}


/*FOOTER // CONTACTO*/

.contact-me{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-bottom: 100px;
    align-items: center;
}

.icon4 img{
    background-color: #34b0be;
    height: 48px;
}

.contact2{
    text-align: center;
    /* background-color: #e5e5e5; */
    background-color: white;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
}

/* #contact2{ */
    
    /* align-self: start; */
/* } */

.consejo{
    padding-bottom: 30px;
}

.consejo p{
    text-align: center;
    color: #34b0be;
    font-size: 24px;
    padding: 30px;
}

.icon5 img{
    height: 48px;
}
.icon5>img:hover{
    cursor: pointer;
}


/*********  MEDIA  *********/

/* entre 350 a 767 */
@media only screen and ( min-width: 350px ) and (max-width: 767){
    
    .contenedor{
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .sobre{
        width: 300px;
    }
}

/* de 768 pa arriba */
@media only screen and ( min-width: 768px ){
    .row{
        flex-direction: row;
    }
    
    #nav,
    #servicios,
    #sobreMi,
    #habilidades,
    #portafolio,
    #contacto{
        padding-top: 90px;
    }


    
    .perfil{
        width: 400px;
        
    }
    
    label{
        display: none;
    }
    
    input#menu-hamburguesa~ul{
        position: static;
        background-color: transparent;
        display: flex; 
    }

    input#menu-hamburguesa ~ ul > li{
        padding: 0 1rem;
    }
    

    /*MIS HABILIDADES*/
    .grid{
        display: grid;
        gap: 5%;
        grid-template-columns: 250px 250px;
        grid-template-rows: 250px 250px;
        justify-content: center;
    
    }



    /*Fuentes*/
    .sub{
        font-size: 50px;
    }
    
    .t1{
        font-size: 1.6rem;
        padding: 5px 0px;
    }
    
    .t2{
        font-size: 2.6rem;
        padding: 5px 0;
    }

    /*acerca de mi*/
    .description2{
        padding: 0 20%;
    }


    /*footer*/
    .contact-me{
        padding-top: 100px;
    }
}

