*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

body{
    width: 100%;
}
/*************** NAV ***********************************************************/
nav {
    background-color: #242645;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: .5rem 1.25rem;
}

nav img{
    width: 50px;
}

input#menu-hamburguesa{
    visibility: hidden;
    /* opacity: 0; este es otro modo de ocultarlo */
}

input#menu-hamburguesa~ul{
    background-color: #242645;
    width: 100%;
    list-style: none;
    height: 170%;
    position: absolute;
    right: 100%;
    transition: all .3s linear;
}

input#menu-hamburguesa:checked ~ ul{
    right: 0%;
    padding-left: 10px;
}

#nav,
#servicios,
#sobreMi,
#habilidades,
#portafolio,
#contacto{
    padding-top: 190px;
}



nav div ul{
    background-color: #242645;
}
nav ul li a{
    text-decoration: none;
    color: #D1CECA;
    font-size: 1rem;
}

nav ul li a:hover{
    color: #34b0be;
}


/* Quisbert */

nav>div>p{
    font-size: 25px;
    color: #34b0be;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px;
    border-radius: 5px;
}




/**** HEADER ***************/    

header{
    background-color: #e5e5e5;
}
.row{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.profile{
    width: 100%;
}
.perfil{
    width: 200px;
}
/* t1 */
.t1{
    font-size: 2rem;
    padding: 5px 0px;
}
.t2{
    font-size: 1.6rem;
    padding: 5px 0;
}
.pink{
    color: #ff4f6f;
}
.blue{
    color: #060b35;
}
.f-f{
    font-family: 'Work Sans', sans-serif;
}

/*iconos redes sociales*/
.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 10px;
}
.box{
    border-style: solid;
    padding: 5px;
    border-radius: 50%;
    margin: 0 10px;
    color: #34b0be;
}

/*!contacto-en-sobre*/

.sobre{
    background-color: #ff4f6f;
    border-bottom-right-radius: 20px 50%;
    border-top-right-radius: 20px 50% ;
    margin-top: 20px;
    width: 300px;
}
.sobre>p>a{
    text-decoration: none;
    color: white;    
}
.sobre>p>a:hover{
    color: #34b0be;
}
.cv{
    width: 2rem;
}

.sobre>p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
}

/*!      /**  MAIN  **************/

main{
    background-color: #e5e5e5;
}

/*subtitulos*/
.sub{
    text-align: center;
    padding: 30px 0px;
    font-size: 40px;
}

/** SERVICIOS */

.grid{
    display: grid;
    gap: 50px;
    grid-template-columns: 250px;
    grid-template-rows: 250px 250px 250px 250px;
    justify-content: center;
}
.center{
    text-align: center;
    background-color: white;
    border-radius: 15px;
    padding: 0 15px;
    /* width: 300px; */
}
.icon img{
    width: 48px;
    padding-top: 20px;
}
.t3,
.description{
    font-family: Arial, Helvetica, sans-serif;
}



/***ACERCA.DE.MI*/
.description2{
    padding: 0 10%;
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}
.coin2{
    height: 100px;
}
.coins{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    padding-top: 20px;
}
.academy{
    text-align: center;
}
.t5{
    font-size: 1rem;
    font-family: Arial, Helvetica, sans-serif;
}


/**MIS HABILIDADES*/
.list{
    display: flex;
    flex-direction: column;
    padding-left: 20%;
}

.list2{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}

.percentage{
    padding: 20px;
    background-color: white;
    border-top: 4px solid #34b0be;
    border-radius: 4px;
}

.percentage p{
    font-size: 30px;
}

.text{
    padding-left: 30px;
    padding-top: 30px;
}

.text p{
    font-size: 20px;
}







/*******************************/
/**PORTAFOLIO*/

.proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    /* margin-bottom: 40px; */
}

.proyecto{
    border-radius: 5px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: 25px;
    border: 3px solid rgb(0, 13, 128);
    z-index: 999;
}

.proyecto>div>p{
    padding: 0 30px;
    font-family: Arial, Helvetica, sans-serif;
}


li div{
    /* justify-content: center; */
    text-align: center;
}







/*******************************/
/**FOOTER // CONTACTO*/

.contact-me{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding-bottom: 100px;
    align-items: center;
}

.icon4 img{
    background-color: #34b0be;
    height: 48px;
}

.contact2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 10px;
    width: 200px;
    height: 150px;
    border-radius: 10px;
}


.consejo{
    padding-bottom: 30px;
}

.consejo p{
    text-align: center;
    color: #34b0be;
    font-size: 24px;
    padding: 30px;
}

.icon5 img{
    height: 48px;
}
.icon5>img:hover{
    cursor: pointer;
}






/*******************************/
/*** MEDIA QUERY *********/

/*//! entre 350 a 767 */
@media only screen and ( min-width: 350px ){
    
    .contenedor{
        width: 300px;
        display: flex;
        flex-direction: column;
    }
    .sobre{
        width: 300px;
    }


    /** FOOTER */
    


}


/*//! de 768 pa arriba */
@media only screen and ( min-width: 768px ){
    .row{
        flex-direction: row;
        gap: 50px;
        /* justify-content: space-between;
        justify-content: space-around; */
        justify-content: center;
    }

    .profile{
        max-width: 300px;
    }

    #nav,
    #servicios,
    #sobreMi,
    #habilidades,
    #portafolio,
    #contacto{
        padding-top: 90px;
    }

    .perfil{
        width: 300px;
        
    }

    label{
        display: none;
    }

    input#menu-hamburguesa~ul{
        position: static;
        background-color: transparent;
        display: flex; 
    }

    input#menu-hamburguesa ~ ul > li{
        padding: 0 1rem;
    }


    /** SERVICIOS*/

    .grid{
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 350px 350px;
    }

    .t3{
        font-size: 2rem;
    }
    .description{
        font-size: 1.5rem;
    }


    /*MIS HABILIDADES*/


    /*Fuentes*/
    .sub{
        font-size: 50px;
    }
    
    .t1{
        font-size: 1.6rem;
        padding: 5px 0px;
    }
    
    .t2{
        font-size: 2.6rem;
        padding: 5px 0;
    }

    /** ACERCA DE MI*/
    .description2{
        padding: 0 20%;
        font-size: 1.5rem;
    }


    /** MI PORTAFOLIO */
    .proyectos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 10px;
        /* justify-content: center;
        align-items: center;
        text-align: center; */
        /* grid-column-end: auto;
        grid-row-end: inherit; */

    }
    .proyecto>div>p{
        font-size: 1.5rem;
    }
    .proyecto{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        text-align: center;
        max-width: 700px;
        padding-left: 10%;

    }
    .proyecto>p{
        font-size: 1.5rem;
        padding-bottom: 1rem;
    }


    /**footer*/
    .contact-me{
        padding-top: 100px;
    }
    .contact-me{
    display: grid;
    gap: 0px;
    grid-template-columns: 250px 250px;
    grid-template-rows: 250px;
    justify-content: center;
    }

    .contact2 div p{
        font-family: Arial, Helvetica, sans-serif;
    }

}








@media only screen and ( min-width: 1024px ){

    /** FOOTER */
    .contact-me{
        display: grid;
        grid-template-columns: 250px 250px 250px 250px;
        justify-content: center;
        }


}